<div id="title" style="background: <%= @article.image %>; background-size: cover;">
  <h1><%= @article.title %></h1>
  <div id="sub-title">
    <div id="author" class="darkened">
      <img src='/images/<%= @article.author.gsub(' ', '_') + '.png' %>'></img>
      <div>
        <span id="name"><%= @article.author %></span>
        <span id="date"><%= @article.publish_date %></span>
      </div>
    </div>
    <div id="social" class="darkened">
    </div>
  </div>
</div>

<div id="content">
  <section id="summary">
    <p><%= @article.summary %></p>
  </section>
  <section id="free_content">
    <%= @article.free_content %>
  </section>

  <% if @user && @user.can_access_content %>
    <section id="paid_content">
      <%= @article.paid_content %>
    </section>
  <% else %>
    <%= erb :purchase_form %>
  <% end %>
</div>
<aside>
    <p>Other articles:</p>
    <% @articles.each do |article| %>
      <div>
        <a href="/article/<%= article.id %>"><%= article.title %></a>
      </div>
    <% end %>
</aside>
