<h1><%= @article.title %></h1>
<h2><%= @article.tagline %></h2>
<img src="<%= @article.image %>" />

<section id="free_content">
  <%= @article.free_content %>
</section>

<% if @user %>
  <% if @user.must_subscribe? %>
    <%= erb :purchase_form %>
  <% end %>
<% elsif @article.purchase_only %>
  <%= erb :purchase_form %>
<% else %>
  <%= erb :identification_form %>
<% end %>

<section id="paid_content">
  <%= @article.paid_content if @user and @user.can_access_content? %>
</section>
