<div id="title" style="background: <%= @article.image %>; background-size: cover;">
  <h1><%= @article.title %></h1>
  <div id="sub-title">
    <div id="author" class="darkened">
      <img src='/images/<%= @article.author.gsub(' ', '_') + '.png' %>'></img>
      <div>
        <span id="name"><%= @article.author %></span>
        <span id="date"><%= @article.publish_date %></span>
      </div>
    </div>
    <div id="social" class="darkened">
      <span class="likes"><%= @article.likes %></span>
      <span class="comments"><%= @article.comments %></span>
    </div>
  </div>
</div>

<div id="content" class="clearfix">
  <div>
    <section id="free_content">
      <p id="intro"><%= @article.intro %></p>
      <%= @article.free_content %>
    </section>

    <% if @user && @user.can_access_content?(@article) %>
      <section id="paid_content">
        <%= @article.paid_content %>
      </section>
    <% else %>
      <%= erb :purchase_form %>
      <section id="paid_content"></section>
    <% end %>
  </div>
  <aside>
    <div class="related">
      <p class="header">RELATED ARTICLES</p>
      <% @article.related.each do |article| %>
        <div>
          <a href="/article/<%= article.id %>"><%= article.title %></a>
        </div>
      <% end %>
    </div>
    <div class="trending">
      <p class="header">TRENDING</p>
      <div>Did you know? Most links in sample sites are fake!</div>
      <div>The benefits of owning a flamingo</div>
    </div>
  </aside>
</div>
