<img id="site_offer" src="/images/site_offer.png" />
<form action="<%= @action || "/purchase"%>" method="POST" class="klarna-form"
    data-api-key="<%= API_KEY %>"
    data-flow="purchase"
    data-amount="15"
    data-currency="SEK"
    data-locale="<%= locale %>">

    <input type="hidden" name="article_id" value="<%= @article.id %>" />
</form>

<script>
  onKlarnaSuccess = function(paid_content){
    document.getElementById('paid_content').innerHTML = paid_content;
  }
</script>
<script async src="<%= script_url %>/web/js/sdk.min.js"></script>
