<h1>Thank you!</h1>
<form class="klarna-form"
    data-api-key="<%= API_KEY %>"
    data-flow="success"
    data-user-token="<%= @user_token %>"
    data-order-reference="<%= @order_reference %>"
    data-amount="99"
    data-currency="SEK"
    data-locale="<%= locale %>">
</form>

<script async src="<%= script_url %>/web/js/sdk.min.js"></script>
